@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

*{
	padding:0;
	margin:0;
}
body{
	font-family: 'Inter';
}

.body{
	background-color: #1e1e1e;
	min-height: 100vh;
}
